.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (max-width: 700px) {
  .title {
    font-size: 18px;
  }
  .text {
    font-size: 14px;
  }
}

.App-link {
  color: #61dafb;
}

.image {
  height: calc(10px + 50vmin);
  border-radius: 10px;
}

.content {
  margin: 20px;
}

.email-input {
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 13px 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(19, 19, 19);
  color: white;
}
